.testimonial_text p {
  color: #7A7A7A;
  font-size: 14px;
}

.trusted_by {
  text-align: center;
  padding: 48px 102px;
}

.testimonial_images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 38px;
}


@media only screen and (max-width: 767px) {
  .trusted_by {
    padding: 0px 20px;
  } 
  .testimonial_text {
    width: 75%;
    margin-left: 45px;
  }
  .testimonial_images {
    flex-wrap: wrap;
    padding: 0px 18px;
  }
}