.site_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.get_for_free_btn {
  padding: 10px 15px 10px 15px;
  border-radius: 10px;
  border: 0;
}

@media only screen and (max-width: 767px) {
  .logo img {
    width: 70%;
  }
  .get_for_free_btn {
    padding: 4px 8px 4px 8px;
    font-size: 10px;
  }
}