.everything_heading h2 {
  color: #fff;
  font-size: 54px;
  font-weight: 500;
  font-family: "DM Sans", sans-serif;
  margin: 0;
  line-height: 60px;
  letter-spacing: 2px;
  margin-bottom: 30px
}
.everything_subheading p {
  font-size: 22px;
  color: #fff;
  margin: 0;
  line-height: 31px;
}
.everything_text {
  text-align: center;
}
.everything_subheading {
  width: 42%;
  display: inline-block;
  text-align: center;
  margin-bottom: 60px;
}
.box_heading span {
  color: #fff;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.box_paragraph p {
  color: #fff;
  font-size: 16px;
  line-height: 23px;
}
.box_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box_item {
  /* width: 40%; */
  text-align: center;
  padding: 40px;
  border: solid 1px rgba(255,255,255,0.2);
  border-radius: 10px;
  margin-right: 20px;
  background-color: #0D0D0D;
}

.box_item:nth-child(3) {
  margin-right: 0;
}

.everything_section {
  padding: 100px 20px;
}

.box_image {
  margin-bottom: 15px;
}


@media only screen and (max-width: 767px) {
  .everything_heading h2 {
    font-size: 32px;
    letter-spacing: 0px;
  }
  .everything_subheading {
    width: 102%;
  }
  .box_section {
    flex-wrap: wrap;
  }
  .box_item {
    margin-right: 0px;
    margin-bottom: 20px;
  }
}

